@font-face {
  font-family: 'Balsamiq Sans';
  src: url('./fonts/Balsamiq-Sans/BalsamiqSans-Regular.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bellota Text';
  src: url('./fonts/Bellota-Text/BellotaText-Regular.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}