@font-face {
  font-family: 'BalsamiqSans';
  src: url('../fonts/Balsamiq-Sans/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BellotaText';
  src: url('../fonts/Balsamiq-Sans/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}