$font-title-subtitle: 'BalsamiqSans', sans-serif;
$font-text: 'BellotaText', sans-serif;
$main-bgr-color: #c0955b;
$second-bgr-color: #3f6485;
$third-bgr-color: #72a25d;
$main-text-color: #ffffff;
$second-text-color: #fcad42;